<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include "header.njk" %}
  <h1>layout - default</h1>
  <h2 style="color:blue">{{ title | default("my blog") }}</h2>
  <main>
      {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>





