/* [data-mode="light"] .container {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 1.5rem;
} */

.container, .container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

  @media screen(sm) {
    max-width: 540px;
  }
  @media screen(md) {
    max-width: 720px;
  }
  @media screen(lg) {
    max-width: 960px;
  }
  @media screen(xl) {
    max-width: 1140px;
  }
  @media screen(xxl) {
    max-width: 1320px;
  }
}

/*
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */
