---
title: toggle-theme
description: toggle-theme
---




      <div class="dropdown relative">
        <button class="btn size-9 bg-white flex items-center justify-center  btn-light btn-icon rounded-circle d-flex align-items-center" type="button"
          aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
          <i class="bi theme-icon-active"></i>
          <span class="visually-hidden bs-theme-text hidden">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
          <li>
            <button type="button" class="dropdown-item px-4 py-1 align-items-center" data-bs-theme-value="red"
              aria-pressed="false">
              <i class="bi theme-icon bi-sun-fill text-red-500"></i>
              <span class="ms-2">Red</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item px-4 py-1 align-items-center" data-bs-theme-value="light"
              aria-pressed="false">
              <i class="bi theme-icon bi-sun-fill"></i>
              <span class="ms-2">Light</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item px-4 py-1 align-items-center" data-bs-theme-value="dark"
              aria-pressed="false">
              <i class="bi theme-icon bi-moon-stars-fill"></i>
              <span class="ms-2">Dark</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item px-4 py-1 align-items-center active" data-bs-theme-value="auto"
              aria-pressed="true">
              <i class="bi theme-icon bi-circle-half"></i>
              <span class="ms-2">Auto</span>
            </button>
          </li>
        </ul>
      </div>




<h1 class="bg-teal-500" >text</h1>

